{% extends 'QcmPublicBundle::layout.html.twig' %}

{% block category %}
    {{ 'qcm_public.questionnaire.category'|trans({'%name%': question.category.name}) }}
{% endblock %}

{% block title %}{{ question.name }}{% endblock %}

{% block content %}
    {% set questions = app.session.get('user_session').configuration.questions|length %}
    {% set answers = app.session.get('user_session').configuration.answers|length %}

<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <form id="reply_questionnaire" novalidate action="{{ path('qcm_public_question_next') }}" {{ form_enctype(form) }} method="POST">
                <div class="box-body">
                    {{ form_widget(form.answers) }}

                    {% if questions - answers > 0 %}
                        {% if app.session.get('user_session').configuration.timeout is not null %}
                            {{ actions.show(path('qcm_public_question_prev'), 'qcm_core.button.prev'|trans, 'fa-arrow-left') }}
                            {{ actions.submit('qcm_core.button.next'|trans, 'btn-primary', 'fa-arrow-right') }}
                            <span class="pull-right">
                                {{ form_widget(form.flag) }}
                                {{ form_label(form.flag) }}
                            </span>
                        {% else %}
                            {{ actions.submit('qcm_core.button.next'|trans, 'btn-primary', 'fa-arrow-right') }}
                        {% endif %}
                    {% else %}
                        {{ actions.show(path('qcm_public_question_summary'), 'qcm_core.button.summary'|trans, 'fa-list') }}
                        {{ actions.submit('qcm_core.button.validate'|trans, 'btn-primary', 'fa-pencil') }}
                    {% endif %}

                    {{ form_rest(form) }}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/qcmcore/js/shCore.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/qcmcore/js/brush/shBrushAS3.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/qcmcore/js/brush/shBrushCss.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/qcmcore/js/brush/shBrushJScript.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/qcmcore/js/brush/shBrushPowerShell.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/qcmcore/js/brush/shBrushPhp.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/qcmcore/js/brush/shBrushSql.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/qcmcore/js/brush/shBrushXml.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            SyntaxHighlighter.config.clipboardSwf = '{{ asset('bundles/qcmcore/js/clipboard.swf') }}';
            SyntaxHighlighter.defaults.toolbar = false;
            SyntaxHighlighter.all();
        });
    </script>
{% endblock %}
