{% extends 'QcmPublicBundle::layout.html.twig' %}

{% block content %}
    <div class="panel-heading text-center">{{ 'qcm_public.questionnaire.summary.title'|trans }}</div>

    <div class="panel-body text-center">
        <div class="list-group">
        {% for key, answer in answers %}
            {% set class = 'success' %}
            {% if answer.flag is not empty and answer.flag != false %}
                {% set class = 'warning' %}
            {% endif %}
            <a href="{{ path('qcm_public_question_specific', { id: key }) }}" class="list-group-item list-group-item-{{ class }}" style="margin-top: 5px;">
                {{ 'qcm_public.questionnaire.question'|trans({ '%number%': loop.index }) }}
            </a>
        {% endfor %}
        </div>

        <div class="clearfix"></div>

        <div class="span7 text-center">
            {{ actions.cancel(path('qcm_public_question_end'), 'qcm_core.button.end'|trans, 'glyphicon-log-out') }}
        </div>
    </div>
{% endblock %}
