<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
    <head>
        <meta charset="UTF-8"/>
        <title>{% block title %}{% endblock %}</title>
        {% block meta %}{% endblock %}
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/qcmcore/css/bootstrap.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/qcmcore/css/shCore.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/qcmcore/css/shThemeDefault.css') }}" />
            <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
            <link href="http://code.ionicframework.com/ionicons/2.0.0/css/ionicons.min.css" rel="stylesheet" type="text/css" />
            <link rel="stylesheet" href="{{ asset('bundles/qcmcore/css/AdminLTE.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/qcmcore/css/_all-skins.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/qcmpublic/css/public.css') }}" />
        {% endblock %}
    </head>
    <body class="skin-blue">
        <div class="wrapper">
            {% import 'QcmCoreBundle:Macros:actions.html.twig' as actions %}

            {% if form is defined %}
                {% form_theme form '@QcmPublic/forms.html.twig' %}
            {% endif %}

            {% block container %}
                <aside class="main-sidebar">
                    <section class="sidebar margin">
                    {% block leftSidebar %}
                        {% set questions = app.session.get('user_session').configuration.questions|length %}
                        {% set percent = app.session.get('user_session').configuration.answers|length * 100 / questions %}

                        <ul class="list-group">
                            <li class="list-group-item">
                                <h4>{% block category %}{% endblock %}</h4>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="{{ questions }}000" style="width: {{ percent }}%; color: #000000;">
                                        {{ app.session.get('user_session').configuration.answers|length }}/{{ questions }}
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div id="countdown">
                                    <div><strong>{{ 'qcm_public.timeleft'|trans }}</strong> :</div>
                                    <span id="countdown_hour">--</span> {{ 'qcm_public.hours'|trans }}
                                    <span id="countdown_min" >--</span> {{ 'qcm_public.minutes'|trans }}
                                    <span id="countdown_sec" >--</span> {{ 'qcm_public.seconds'|trans }}
                                </div>
                            </li>
                        </ul>
                    {% endblock %}
                    </section>
                </aside>
                <div class="content-wrapper" style="min-height: 1068px;">
                    <section class="content-header">
                        <h1>{{ block('title') }}</h1>
                    </section>

                    <section class="content">
                        {% block content %}{% endblock %}
                    </section>
                </div>
            {% endblock %}
            {% block javascripts %}
                <script type="text/javascript" src="{{ asset('bundles/qcmcore/js/jquery-2.1.1.min.js') }}"></script>
                <script type="text/javascript" src="{{ asset('bundles/qcmcore/js/bootstrap.min.js') }}"></script>
                <script type="text/javascript" src="{{ asset('bundles/qcmpublic/js/common.js') }}"></script>
                <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
                <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
                <script type="text/javascript">
                    {% set startDate = app.session.get('user_session').configuration.startAt.date %}
                    {% set timeout = app.session.get('user_session').configuration.timeout %}

                    {% if timeout is null %}
                        {% set startDate = app.session.get('question_timeout').date %}
                        {% set timeout = app.session.get('user_session').configuration.timePerQuestion %}
                    {% endif %}

                    $(document).ready(function() {
                        countdownManager.init('{{ startDate }}', {{ timeout }});
                    });
                </script>
            {% endblock %}
        </div>
    </body>
</html>
