{% extends 'QcmPublicBundle::layout-welcome.html.twig' %}

{% block content %}
    <h4 class="text-center">{{ 'qcm_public.homepage_text'|trans({'%website_name%': website_name()}) }}</h4>

    {% if questionnaires|length == 0 %}
        <div class="text-muted text-center">{{ 'qcm_public.empty.questionnaire'|trans }}</div>
        <div class="span7 text-center">
            {{ actions.cancel(path('qcm_core_security_logout'), 'qcm_public.button.logout'|trans, 'glyphicon-log-out') }}
        </div>
    {% elseif questionnaires|length == 1 %}
        {% for questionnaire in questionnaires %}
            {% if questionnaire.configuration.timeout is null %}
                {% set timeout = 'qcm_core.label.time_per_question'|trans ~ ': ' ~ questionnaire.configuration.timePerQuestion %}
            {% else %}
                {% set timeout = 'qcm_core.label.timeout'|trans ~ ': ' ~ (questionnaire.configuration.timeout/60)|round %}
            {% endif %}

            {{ 'qcm_public.questionnaires.begin_start'|trans({
                '%website_name%': website_name(),
                '%categories%' : categories[questionnaire.id]|join(', '),
                '%timeout%': timeout
            })|raw }}

            <div class="span7 text-center">
                {{ actions.add(path('qcm_public_question_start', { id: questionnaire.id}), 'qcm_public.button.start'|trans, false) }}
                {{ actions.cancel(path('qcm_core_security_logout'), 'qcm_public.button.logout'|trans, 'fa-sign-out') }}
            </div>
        {% endfor %}
    {% else %}
        <br />
        <h4>{{ 'qcm_public.questionnaires.list'|trans }}</h4>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>{{ 'qcm_public.questionnaires.title'|trans }}</th>
                    <th>{{ 'qcm_public.questionnaires.timeout'|trans }}</th>
                    <th>{{ 'qcm_public.questionnaires.max_questions'|trans }}</th>
                    <th>{{ 'qcm_public.questionnaires.categories'|trans }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for questionnaire in questionnaires %}
                    <tr>
                        <td>
                            {{ 'qcm_public.questionnaires.questionnaire'|trans({
                                '%number%': loop.index
                            })|raw }}
                        </td>
                        <td>
                            {% if questionnaire.configuration.timeout is null %}
                                {{ 'qcm_core.label.time_per_question'|trans }}: <b>{{ questionnaire.configuration.timePerQuestion }}</b> {{ 'qcm_core.user_session.seconds'|trans }}
                            {% else %}
                                {{ 'qcm_core.label.timeout'|trans }}: <b>{{ (questionnaire.configuration.timeout/60)|round }}</b> {{ 'qcm_core.user_session.minutes'|trans }}
                            {% endif %}
                        <td>{{ questionnaire.configuration.questions|length }}</td>
                        <td>
                            {% for category in questionnaire.configuration.categories %}
                                {{ category.name }}{{ loop.last ? '' : ', ' }}
                            {% endfor %}
                        </td>
                        <td>{{ actions.add(path('qcm_public_question_start', { id: questionnaire.id}), 'qcm_public.button.start'|trans, false) }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="span7 text-center">
            {{ actions.cancel(path('qcm_core_security_logout'), 'qcm_public.button.logout'|trans, 'fa-sign-out') }}
        </div>
    {% endif %}
{% endblock %}
